/* add app styles here */
input
{
    width: 100%;
    display: inline-block;
    padding: 5px;
}
table {
    width: 100%
}
td {
    border: 0px solid black;
}
.accordion-toggle span {
    display: block;
    width:  450px;
}
.btn-group-vertical {
    width: 170px;
}
.popup {
	display: block !important; /* yes, important */
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    white-space: normal;
}
.alert {
    margin-bottom: 0px;
}
.pagination {
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-width: 170px;
}
.eval {
    display: inline-block;
    text-align: left;
    max-width: 1000px;
    word-wrap: break-word;
    line-height: 1.2;
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* ancient Opera */
    white-space: -o-pre-wrap; /* newer Opera */
    white-space: pre-wrap; /* Chrome; W3C standard */"
}
.loading {
	display: block !important; /* yes, important */
	position: fixed; 
	left: 50%; 
	top: 50%; 
	height: 70px; 
	margin-top: -30px; 
	width: 500px; 
	margin-left: -250px; 
	z-index: 1000;
}
.cssFade {
    transition: 0.2s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}
.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}
