*.class

# Package Files #
*.jar
*.war
*.ear
*.swp

.tmp

*.log

# Property files
*.properties

# Node and Bower
node_modules
bower_components
deptree.txt
dist
cache

# IDEA
.idea/
geolink-core/geolink-core.iml
geolink-core/target/
geolink-parent.iml
geolink-webapp/geolink-webapp.iml
geolink-webapp/target/

