<!DOCTYPE html>
<html ng-app="GeolinkClient">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Geolink</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/jassa-ui-angular/jassa-ui-angular.css" />
    <!-- endbower -->

    <!-- endbuild -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <!--     <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.js"></script> -->

    <!-- build:js scripts/scripts.js -->
    <!--<script src="bower_components/jscache/cache.js"></script> -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/dddi-angular/dddi-angular.js"></script>
    <script src="bower_components/bluebird/js/browser/bluebird.js"></script>
    <script src="bower_components/jassa/jassa.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/jassa-ui-angular/jassa-ui-angular-tpls.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jassa-ui-angular-openlayers/jassa-ui-angular-openlayers-tpls.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->

	<script src="bower_components/openlayers/lib/OpenLayers.js"></script>

    <!-- endbuild -->

    <script type="text/javascript">

        jassa = new Jassa(Promise, function () {
            jqXHR = $.ajax.apply(this, arguments);
            r = Promise.resolve(jqXHR)
                    .cancellable()
                    .catch(Promise.TimeoutError, Promise.CancellationError, function (e) {
                        //console.log('CANCELLED REQUEST');
                        jqXHR.abort();
                        throw e;
                    });
            return r;
        });

    </script>

    <style>
        input
        {
            width: 100%;
            display: inline-block;
            padding: 5px;
        }
        table {
        	width: 100%
        }
        td {
            border: 0px solid black;
        }
		.accordion-toggle span {
		    display: block;
		    width:  450px;
		}
		.btn-group-vertical {
			width: 170px;
		}
		.popup {
			border: 1px solid rgba(0,0,0,.2);
  			border-radius: 6px;
  			box-shadow: 0 5px 10px rgba(0,0,0,.2);
  			white-space: normal;
  			opacity: 1;
  			transition: opacity .25s linear;
		}
		.alert {
			margin-bottom: 0px;
		}
		.pagination {
			margin: 0px;
		 	display: block;
  			margin-left: auto;
  			margin-right: auto;
  			max-width: 500px;
  			min-width: 170px;
		}
		.eval {
			display: inline-block; 
			text-align: left;  
			max-width: 1000px; 
			word-wrap: break-word; 
			line-height: 1.2;
			white-space: -moz-pre-wrap; /* Firefox */ 
			white-space: -pre-wrap; /* ancient Opera */ 
			white-space: -o-pre-wrap; /* newer Opera */ 
			white-space: pre-wrap; /* Chrome; W3C standard */" 
		}
    </style>
</head>

<body ng-controller="AppCtrl">

<div jassa-map-ol="map" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%" config="mapConfig" data-sources="mapSources" select="selectGeom(data)">

</div>

<!-- GUI -->
<div ng-controller="guiCtrl" style="position: absolute; top: 10px">
    <accordion close-others="oneAtATime">

        <accordion-group heading="Session Menu" is-open="guiStatus.isFirstOpen">
            <table class="linkspecTable">
                <tr>
                    <td>
                        <label>Username</label>
                    </td><td>
                    <input ng-model="session.username" type="text" >
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Project Name</label>
                    </td><td>
                    <input ng-model="session.project" type="text">
                </td>
                </tr>
            </table>
           	<div style="padding-top: 20px;">
                <button class="btn btn-primary" ng-click="createSession();" style="width: 100%; top: 10px; padding: 5px">Create Session</button>
            </div>
        </accordion-group>

        <accordion-group heading="LinkSpec Creation" is-open="guiStatus.isLinkSpecOpen">
            <!--
            <table class="linkspecTable">
                <tr>
                    <td>
                        <label>Prefix</label>
                    </td><td>
                    <input ng-model="prefixes.rdfs" type="text">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Prefix</label>
                    </td><td>
                    <input ng-model="prefixes.geo" type="text">
                </td>
                </tr>
            </table>
            -->

            <table>
            	<td>
		            <div class="btn-group" dropdown>
		                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle is-disabled="guiStatus.isLinkSpecDisabled">
		                    Fill with Source Template <span class="caret"></span>
		                </button>
		                <ul class="dropdown-menu">
		                    <li ng-repeat="server in servers">
		                        <a ng-click="selectDropdown1(server.num)">{{server.data.id}}</a>
		                    </li>
		                </ul>
		            </div>
				</td><td>
		            <input ng-model="linkspec.sourceInfo.id" type="text">
	            </td>
			</table>
			
            <table class="linkspecTable">
                <tr>
                    <td>
                        <label>Endpoint</label>
                    </td><td>
                    <input ng-model="linkspec.sourceInfo.endpoint" type="url" is-disabled="guiStatus.isLinkSpecDisabled">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Graph</label>
                    </td><td>
                    <input ng-model="linkspec.sourceInfo.graph" type="url" is-disabled="guiStatus.isLinkSpecDisabled">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Restrictions</label>
                    </td><td>
                    <input ng-model="linkspec.sourceInfo.restrictions" ng-list="" type="text" is-disabled="guiStatus.isLinkSpecDisabled">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Var</label>
                    </td><td>
                    <input ng-model="linkspec.sourceInfo.var" type="text" is-disabled="guiStatus.isLinkSpecDisabled">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Properties</label>
                    </td><td>
                    <input ng-model="linkspec.sourceInfo.properties" ng-list=", " type="text" is-disabled="guiStatus.isLinkSpecDisabled">
                </td>
                </tr>
            </table>
            <hr>
            <div style="padding-top: 0px;">
	 			<table>
	            	<td>
		                <div class="btn-group" dropdown>
		                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
		                        Fill with Target Template  <span class="caret"></span>
		                    </button>
		                    <ul class="dropdown-menu">
		                        <li ng-repeat="server in servers">
		                            <a ng-click="selectDropdown2(server.num)">{{server.data.id}}</a>
		                        </li>
		                    </ul>
		                </div>
					</td><td>
						<input ng-model="linkspec.targetInfo.id" type="text">
		            </td>   
				</table>
			</div>
			
            <table class="linkspecTable">
                <tr>
                    <td>
                        <label>Endpoint</label>
                    </td><td>
                    <input ng-model="linkspec.targetInfo.endpoint" type="url">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Graph</label>
                    </td><td>
                    <input ng-model="linkspec.targetInfo.graph" type="url">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Restrictions</label>
                    </td><td>
                    <input ng-model="linkspec.targetInfo.restrictions" ng-list="" type="text">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Var</label>
                    </td><td>
                    <input ng-model="linkspec.targetInfo.var" type="text">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Properties</label>
                    </td><td>
                    <input ng-model="linkspec.targetInfo.properties" ng-list=", " type="text">
                </td>
                </tr>
            </table>
            <div style="margin: 0px;">
            <hr>

            </div>
            <table class="linkspecTable">
                <tr>
                    <td>
                        <label>Metric</label>
                    </td><td>
                    <input ng-model="linkspec.metricExpression" type="text">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Threshold</label>
                    </td><td>
                    <input ng-model="linkspec.acceptanceThreshold" type="number">
                </td>
                </tr>
            </table>

            <div style="padding-top: 10px;">
                <button class="btn btn-primary" ng-click="sendLinkSpec();" style="width: 100%; top: 10px; padding: 5px">Send LinkSpec</button>
            </div>
        </accordion-group>
        
        <accordion-group heading="Evaluation" is-open="guiStatus.isEvaluationOpen" is-disabled="guiStatus.isEvaluationDisabled">
            <code>TODO: SHOW CURRENT LINKSPEC HERE</code>
            <div style="padding-top: 20px;">
                <button class="btn btn-primary" ng-click="resetLinkSpec();" style="width: 100%; top: 10px; padding: 5px">Reset Session</button>
            </div>
        </accordion-group>
	</accordion>
</div>

<div class="popup cssFade" ng-show="guiStatus.isEvaluationOpen" style="position: absolute; bottom: 70px; left: 10px; right: 10px; height: 415px; overflow: auto; background-color: #fefefe">
	<table style="margin-bottom:0px" class="table table-striped">
       <tr><th style="background-color: #F7F7F7">Evaluation</th><th style="background-color: #F7F7F7">Links</th><th style="background-color: #F7F7F7">Resources</th></tr>
       <tr ng-repeat="link in links">
           <td style="max-width: 175px;"">
               <div class="btn-group-vertical" style="padding-top: 10px;">
                   <label ng-click="saveEval(link.id, 'positive');" class="btn btn-primary" ng-model="evalModel">Positive</label>
                   <label ng-click="saveEval(link.id, 'unknown');" class="btn btn-primary" ng-model="evalModel">Unknown</label>
                   <label ng-click="saveEval(link.id, 'negative');" class="btn btn-primary" ng-model="evalModel">Negative</label>
               </div>
               <!--<p>[{{$index + 1}}] {{link.id || 'undefined'}}:{{evalModel || 'null'}}</p>-->
           </td>
           <td>
               <span class="label label-warning" title="{{link.source.id}}">{{link.source.displayLabel}}</span>
               <br>
               <span class="label label-primary" title="{{link.target.id}}">{{link.target.displayLabel}}</span>
               <br>
           </td>
           <td style="padding:0px">
	           <div style="height:360px; overflow:auto;">
	               <table class="table table-striped">
	                   <tr ng-repeat="predicate in link.cluster | objectToArray | orderBy:sourceOrderFn:true">
	                       <td>
	                           <span title="{{predicate.id}}" class="label eval" ng-class="predicate.sources.length === 2 ? 'label-success' : ( predicate.sources[0] === 'source' ? 'label-primary' : 'label-warning' )">{{predicate.displayLabel || predicate.id}}</span>
	                       </td>
	                       <td>
	                           <ul>
	                               <li ng-repeat="member in predicate.valueToMember | objectToArray | orderBy:sourceOrderFn:true">
	                                   <span title="{{member.value.id}}" class="label eval" ng-class="member.sources.length === 2 ? 'label-success' : ( member.sources[0] === 'source' ? 'label-primary' : 'label-warning' )">{{member.value.displayLabel || member.value.id}}</span>
	                               </li>
	                           </ul>
	                       </td>
	                   </tr>
	               </table>
	           </div>
           </td>
       </tr>
   	</table>
</div>
<div class="popup cssFade" ng-show="guiStatus.isEvaluationOpen" style="position: absolute; bottom: 14px; left: 10px; right: 10px; height: ; overflow: auto; background-color: #fefefe">
	<table>
		<tr>
	  		<td style="width: 350px">
				<div class="alert alert-success" role="alert">
		            Legend: <span class="label label-success">Both resources</span> <span class="label label-primary">Source only</span> <span class="label label-warning">Target only</span>
		        </div> 
	      	</td>
	      	<td style="max-width: 1000px;">
		        <pagination style="display: block;" total-items="TotalItems" ng-model="offset" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page=1></pagination>
	     	</td>
	     	<td style="width: 275px;">
		        <button ng-click="sendEval();" ng-disabled="is_evalbutton_disabled" style="margin-left: 5px; margin-right: 5px; height: 32px;" type="button" class="btn btn-primary">Send Eval</button>
		        <button ng-click="learnFromMapping();" ng-disabled="guiStatus.is_mappingbutton_disabled" style="margin-left: 5px; margin-right: 5px; height: 32px;" type="button" class="btn btn-primary">Learn From Mapping</button>
	       	</td>
       	</tr>
	</table> 
</div>

<!-- debug -->
<button ng-click="setLeipzig();" style="position: absolute; right: 10px; top: 10px;">Set Leipzig</button >
<button ng-click="logDatasources();" style="position: absolute; right: 100px; top: 10px;">[DEBUG] log datasources to console</button>
<div style="position: absolute; right: 5px; top: 50px;">
 	<pre>[DEBUG] evalData: <br> {{evalData | json}}</pre>
	<pre>Page: {{offset}} / {{numPages}}</pre>
</div>

<!-- Modules -->
<script src="scripts/js/app.js"></script>

<!-- Controllers -->
<script src="scripts/js/controllers/MainController.js"></script>
<script src="scripts/js/controllers/GUIController.js"></script>

<!-- Directives -->

<!-- Services -->

</body>

</html>

