<!DOCTYPE html>
<html ng-app="GeolinkClient">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Geolink</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/jassa-ui-angular/jassa-ui-angular.css" />
    <!-- endbower -->

    <!--<link rel="stylesheet" href="../../../target/release/repo/jassa-ui-angular.css" />-->

    <!-- endbuild -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
    <!--     <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.js"></script> -->

    <!-- build:js scripts/scripts.js -->

    <!--<script src="bower_components/jscache/cache.js"></script> -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/dddi-angular/dddi-angular.js"></script>
    <script src="bower_components/bluebird/js/browser/bluebird.js"></script>
    <script src="bower_components/jassa/jassa.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/jassa-ui-angular/jassa-ui-angular-tpls.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jassa-ui-angular-openlayers/jassa-ui-angular-openlayers-tpls.js"></script>
    <!-- endbower -->

    <!--     <script src="scripts/lib/angular-ui/0.10.0/ui-bootstrap-tpls-0.10.0.js"></script> -->
    <!--     <script src="bower_components/underscore.string/lib/underscore.string.js"></script> -->

	<script src="bower_components/openlayers/lib/OpenLayers.js"></script>
    <!-- endbuild -->

    <script type="text/ng-template" id="predicateGroup.html">

        <td>
            <!--
            <a href="" ng-click="node.isExpanded = !node.isExpanded">
                <span class="glyphicon" ng-class="{'glyphicon-chevron-down' : node.isExpanded, 'glyphicon-chevron-right' : !node.isExpanded}"></span>
            </a>
            {{node.displayLabel}}
            -->
        </td>
        <td>
            <ul>
                <li ng-repeat="member in node.members">
                    <span title={{member.value.id}}>{{member.value.displayLabel}}</span>
                    (<span title={{member.predicate.id}}>{{member.predicate.displayLabel}}</span>)
                </li>
            </ul>
        </td>

    </script>

    <!--             <table ng-show="node.isExpanded"> -->
    <!--                 <tr ng-repeat="node in node.children" ng-include="'predicateGroup.html'"></tr> -->
    <!--             </table> -->

    <script type="text/javascript">
        //     _.mixin(_.str.exports());

        jassa = new Jassa(Promise, function () {
            jqXHR = $.ajax.apply(this, arguments);
            r = Promise.resolve(jqXHR)
                    .cancellable()
                    .catch(Promise.TimeoutError, Promise.CancellationError, function (e) {
                        //console.log('CANCELLED REQUEST');
                        jqXHR.abort();
                        throw e;
                    });
            return r;
        });
    </script>

</head>

<body ng-controller="AppCtrl">
    <div jassa-map-ol="map" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%" config="mapConfig" data-sources="dataSources" select="selectGeom(data)"></div>

    <!--
    <div style="position: absolute; bottom: 10px; left: 10px; right: 10px; height: 300px; overflow: auto; background-color: #fefefe">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Values</th>
                </tr>
            </thead>

            <thead ng-repeat-start="link in diff">
                <tr>
                    <td style="font-style: italic;" colspan="2">
                        <a href="" ng-click="link.isExpanded = !link.isExpanded">
                            <span class="glyphicon" ng-class="{'glyphicon-chevron-down' : link.isExpanded, 'glyphicon-chevron-right' : !link.isExpanded}"></span>
                        </a>
                        <span title="{{link.id}}">{{link.displayLabel}}</span>
                        <span title="{{link.source.id}}">{{link.source.displayLabel}}</span>
                        <span title="{{link.target.id}}">{{link.target.displayLabel}}</span>
                    </td>
                </tr>
            </thead>
            <tbody ng-repeat-end ng-show="link.isExpanded">
                <tr ng-repeat="node in link.predicateGroups" ng-include="'predicateGroup.html'"></tr>
            </tbody>
        </table>
    </div>
    -->


    <button ng-click="setLeipzig();" style="position: absolute; right: 10px; top: 10px;">Set Leipzig</button >
    <button ng-click="setDenver();" style="position: absolute; right: 10px; top: 40px;">Set Denver</button>
    <button ng-click="logDatasources();" style="position: absolute; right: 10px; top: 140px;">[DEBUG] log datasources to console</button>

    <!-- Modules -->
    <script src="scripts/js/app.js"></script>

    <!-- Controllers -->
    <script src="scripts/js/controllers/MainController.js"></script>
    <script src="scripts/js/controllers/GUIController.js"></script>

    <!-- Directives -->
    <!--
    <script src="scripts/js/directives/myInit.js"></script>
    <script src="scripts/js/directives/pullUp.js"></script>
    -->
    <!-- Services -->
    
	<!-- GUI --> 
	<style>
	input
	{	
		width: 400px;
      	display: inline-block;
      	vertical-align: middle;
      	padding: 5px;
     }
     label
     {
      	padding: 5px;
      	display: inline-block;
     }
	</style>
	
	<div ng-controller="guiCtrl" style="position: absolute; top: 10px">
	  <accordion close-others="oneAtATime">
	    <accordion-group heading="Session Menu" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
		      <md-input-container><label>Username</label>
			    <input ng-model="session.username" type="text" >
			  </md-input-container><br>
			  <md-input-container><label>Project Name</label>
			    <input ng-model="session.project" type="text">
			  </md-input-container>
	    </accordion-group>
	    <accordion-group heading="LinkSpec Creation" is-open="status.isLinkSpecOpen">
			<div class="btn-group" dropdown>
		      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
		        Fill with Source Template <span class="caret"></span>
		      </button>
				<ul class="dropdown-menu">
			        <li ng-repeat="sparql in servers">
			        	<a ng-click="selectDropdown1(sparql.num)">{{sparql.data.id}}</a>
			        </li>
			    </ul>
		    </div><br>
			<md-input-container><label>ID</label>
			    <input ng-model="sparql1.id" required md-maxlength="42" type="text">
			</md-input-container><br>
			<md-input-container><label>Endpoint</label>
				<input ng-model="sparql1.endpoint" required md-maxlength="42" type="url">
			</md-input-container><br>
			<md-input-container><label>Graph</label>
				<input ng-model="sparql1.graph" required md-maxlength="42" type="url">
			</md-input-container><br>
			<md-input-container><label>Restrictions</label>
				<input ng-model="sparql1.restrictions" required md-maxlength="42" type="text">
			</md-input-container><br>
			<md-input-container><label>Var</label>
				<input ng-model="sparql1.var" required md-maxlength="42" type="text">
			</md-input-container> <br>
			<md-input-container><label>Properties</label>
				<input ng-model="sparql1.properties" required md-maxlength="42" type="text">
			</md-input-container><br>
			  
			
			<hr> 
  			<div class="btn-group" dropdown>
		      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
		        Fill with Target Template  <span class="caret"></span>
		      </button>
				<ul class="dropdown-menu">
			        <li ng-repeat="sparql in servers">
			        	<a ng-click="selectDropdown2(sparql.num)">{{sparql.data.id}}</a>
			        </li>
			    </ul>
		    </div><br>
 			<md-input-container><label>ID</label>
			    <input ng-model="sparql2.id" type="text">
			</md-input-container><br>
			<md-input-container><label>Endpoint</label>
				<input ng-model="sparql2.endpoint" type="url">
			</md-input-container><br>
			<md-input-container><label>Graph</label>
				<input ng-model="sparql2.graph"type="url">
			</md-input-container><br>
			<md-input-container><label>Restrictions</label>
				<input ng-model="sparql2.restrictions" type="text">
			</md-input-container><br>
			<md-input-container><label>Var</label>
				<input ng-model="sparql2.var"  type="text">
			</md-input-container> <br>
			<md-input-container><label>Properties</label>
				<input ng-model="sparql2.properties" type="text">
			</md-input-container><br>
		<hr> 
		<md-input-container><label>Metric Expression</label>
				<input ng-model="linkspec.metricExpression" type="text">
		</md-input-container><br>
		<md-input-container><label>Acceptance Threshold</label>
			<input ng-model="linkspec.acceptanceThreshold" type="number">
		</md-input-container><br>
		<hr>
	  	<button ng-click="sendLinkSpec();">Send LinkSpec</button>
	    </accordion-group>
	</div>	
</body>

</html>

